@use '../../styles/variables' as *;

.file {
  padding: 14px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  background-color: $file-light-3;
  cursor: pointer;

  &:hover {
    background-color: $file-light-2;

    .fileType {
      color: $file-dark;
    }

    .fileName,
    .fileDesc {
      color: $file-dark-3;
    }

    .fileImage {
      opacity: 1;
    }
  }
}

.fileImage {
  width: 100px;
  height: 75px;
  margin-right: 10px;
  border-radius: 10px;
  opacity: 0.7;
}

.fileDetails {
}

.fileType {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  margin-bottom: 3px;
  color: $file-light;
  border-bottom: 1px solid $file-light-1;
  width: max-content;
}

.fileTypeIcon {
  margin-right: 5px;
  font-size: 12px;
}

.fileTypeName {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.fileName {
  color: $file-dark;
  margin-bottom: 5px;
  font-weight: bold;
}

.fileDesc {
  color: $file-light;
  font-size: 12px;
}
