@use '../../styles/variables' as *;

.file {
  padding: 14px;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  border: 1px solid $primary-light-5;
  cursor: pointer;

  &:hover {
    background-color: $primary-light;

    .fileType {
      color: white;
      border-bottom-color: white;
    }

    .fileName,
    .fileDesc {
      color: white;
    }

    .fileImage {
      opacity: 1;
      box-shadow: 0 0 2px white;
    }
  }
}

.fileImage {
  width: 100px;
  height: 75px;
  margin-right: 10px;
  border-radius: 10px;
  opacity: 0.7;
}

.fileType {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  margin-bottom: 3px;
  color: $primary-light;
  border-bottom: 1px solid $primary-light-1;
  width: max-content;
}

.fileTypeIcon {
  margin-right: 5px;
  font-size: 12px;
}

.fileTypeName {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.fileName {
  color: $primary-dark;
  margin-bottom: 5px;
  font-weight: bold;
}

.fileDesc {
  color: $primary-light;
  font-size: 12px;
}
