@use '../../styles/variables' as *;

.file {
  padding: 14px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  background-color: $primary-light-6;
  transition: transform 0.3s;

  &:hover {
    background-color: $white;
    transform: translateY(-5px);

    .fileImage {
      opacity: 1;
    }
  }
}

.fileImage {
  width: 100px;
  height: 75px;
  margin-right: 10px;
  border-radius: 8px;
  opacity: 0.8;
}

.fileType {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
  margin-bottom: 3px;
  color: $primary-light-1;
  border-bottom: 1px solid $primary-light-2;
  width: max-content;
}

.fileTypeIcon {
  margin-right: 5px;
  font-size: 12px;
}

.fileTypeName {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.fileName {
  color: $primary-dark;
  margin-bottom: 5px;
  font-weight: bold;
}

.fileDesc {
  color: $primary;
  font-size: 12px;
}
