@use '../../styles/variables' as *;

.contextMenu {
  position: absolute;
  background-color: white;
  border: 1px solid $primary-light-2;
  border-radius: 0 5px 5px 5px;
  max-width: 180px;
  overflow: hidden;
  box-shadow: 1px 1px 3px $primary-light;
}

.contextMenuOption {
  min-width: 120px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $primary;
  background-color: $primary-light-6;
  padding: 8px 5px;
  user-select: none;
  font-size: 14px;

  &:hover {
    background-color: $primary-light-5;
  }
}

.optionIcon {
  width: 35px;
  text-align: center;
  color: $primary-light;
}

.option {
}

.title {
  color: $primary-light-2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $primary-light-2;
  cursor: default;
  font-size: 14px;
  font-weight: bold;
}
