@use '../../../styles/variables' as *;

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.folderDetails {
  padding: 16px;
  border-radius: 10px;
  background-color: $primary-light-6;
  color: $primary;
}

.parents {
  font-size: 12px;
  color: $primary-light;
  margin-right: 5px;
}

.goUp {
  border: none;
  height: 24px;
  width: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 12px;
  background-color: $primary-light-1;
  color: white;
  margin-right: 10px;
  cursor: pointer;

  &:hover {
    background-color: $primary-light;
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: $primary-light-3;
    cursor: default;
  }
}

.folderName {
  font-size: 20px;
  font-weight: bold;
  color: $primary-light;
  cursor: default;
}

.folderDesc {
  margin-top: 15px;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $primary-light-6;
  color: $primary-light;
  font-size: 14px;
  text-align: center;
}
