$primary: #5840ba; // vivid violet
$secondary: #ff33d5; // flame
$auxillary: #333; // very dark grey

// light shades of primary
$primary-light: #7057d3;
$primary-light-1: #7e68d6;
$primary-light-2: #9986e6;
$primary-light-3: #b7a7f8;
$primary-light-4: #d7cdff;
$primary-light-5: #e9e3ff;
$primary-light-6: #f6f4fd;

// dark shades of primary
$primary-dark: #4932a7;
$primary-dark-1: #37228b;
$primary-dark-2: #27156b;
$primary-dark-3: #1c0c57;
$primary-dark-4: #150747;
$primary-dark-5: #0e0335;

// light shades of folder
$secondary-light: lighten($secondary, 10%);
$secondary-light-1: lighten($secondary, 20%);
$secondary-light-2: lighten($secondary, 30%);
$secondary-light-3: lighten($secondary, 40%);
$secondary-light-4: lighten($secondary, 44%);
$secondary-light-5: lighten($secondary, 48%);
$secondary-light-6: #fff8fd; // section background color
$secondary-light-7: lighten($secondary, 55%);
$secondary-light-8: lighten($secondary, 59%);

// dark shades of folder
$secondary-dark: #e003b4;
$secondary-dark-1: darken($secondary, 20%);
$secondary-dark-2: darken($secondary, 30%);
$secondary-dark-3: darken($secondary, 40%);
$secondary-dark-4: darken($secondary, 50%);
$secondary-dark-5: darken($secondary, 60%);

// light shades of grey
$auxillary-light: #535353;
$auxillary-light-1: #686868;
$auxillary-light-2: #808080;
$auxillary-light-3: #9c9c9c;
$auxillary-light-4: #acacac;
$auxillary-light-5: #c4c4c4;
$auxillary-light-6: #e2e2e2;
$auxillary-light-7: #f3f3f3;
$auxillary-light-8: #f8f8f8;
