$grey-shade-1: rgb(51, 51, 51);
$grey-shade-2: rgb(95, 95, 95);

/* New color palette */
$color-1-lightest: #dbe7f1;
$color-1-lighter: #b7d0e3;
$color-1-light: #5d95c0;
$color-1: #397eb3;
$color-1-dark: #2f6893;
$color-1-darker: #255172;
$color-1-darkest: #1a3a52;

$background-color: #fdfeff;
