$primary: #a026ff; // gunmetal
$secondary: #ff33d5; // flame

// light shades of primary
$primary-light: #a733ff;
$primary-light-1: #b352fd;
$primary-light-2: #c375ff;
$primary-light-3: #d5a2fc;
$primary-light-4: lighten($primary, 50%);
$primary-light-5: #ead7fc;
$primary-light-6: #fbf7ff;
$primary-light-7: lighten($primary, 75%);
$primary-light-8: lighten($primary, 78%);

// dark shades of primary
$primary-dark: darken($primary, 10%);
$primary-dark-1: darken($primary, 20%);
$primary-dark-2: darken($primary, 30%);
$primary-dark-3: darken($primary, 40%);
$primary-dark-4: darken($primary, 50%);
$primary-dark-5: darken($primary, 60%);

// light shades of folder
$secondary-light: lighten($secondary, 10%);
$secondary-light-1: lighten($secondary, 20%);
$secondary-light-2: lighten($secondary, 30%);
$secondary-light-3: lighten($secondary, 40%);
$secondary-light-4: lighten($secondary, 44%);
$secondary-light-5: lighten($secondary, 48%);
$secondary-light-6: #fff8fd; // section background color
$secondary-light-7: lighten($secondary, 55%);
$secondary-light-8: lighten($secondary, 59%);

// dark shades of folder
$secondary-dark: #e003b4;
$secondary-dark-1: darken($secondary, 20%);
$secondary-dark-2: darken($secondary, 30%);
$secondary-dark-3: darken($secondary, 40%);
$secondary-dark-4: darken($secondary, 50%);
$secondary-dark-5: darken($secondary, 60%);
