@use '../../../../styles/variables' as *;

.sourceFolder {
  position: relative;
}

.folderDropdown {
  position: absolute;
  margin-top: -15px;
  border: 1px solid $color-1-lighter;
}

.folder {
  width: 250px;
  background-color: white;
  padding: 6px 10px;
  font-size: 1.1rem;
  cursor: pointer;
  color: $color-1;

  &:hover {
    background-color: $color-1-lightest;
  }
}
