@use '../../../styles/variables' as *;

.input {
  border: 1px solid $primary-light-4;
  font-family: inherit;
  padding: 5px 10px;
  font-size: 18px;
  width: 250px;
  border-radius: 5px;
  color: $primary-dark;
  margin: 5px 0;

  &:focus {
    outline: none;
    border-color: $primary-light;
  }
}
