.alert {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: max-content;

  display: flex;
  align-items: center;
}

.success {
  @extend .alert;
  background-color: green;
}

.error {
  @extend .alert;
  background-color: orangered;
}

.alertIcon {
  margin-right: 10px;
}
