@use '../../styles/variables' as *;

.directory {
  padding: 16px 32px;
}

.sectionStyle {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 32px;
}

.sectionHeader {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;

  & > h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
  }
}

.sectionAddButton {
  background-color: inherit;
  text-transform: uppercase;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.folderSection {
  @extend .sectionStyle;
  background-color: $secondary-light-6;
  color: $secondary;
}

.folders {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: flex-start;
}

.folder {
  padding: 8px;
  box-shadow: 0 0 2px $secondary-dark;
  border-radius: 5px;
  color: $secondary-dark;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: white;
    background-color: $secondary-light;
  }
}

.addFolder {
  @extend .sectionAddButton;
  &:hover {
    color: $secondary-dark;
  }
}

.fileSection {
  @extend .sectionStyle;
  background-color: $primary-light-6;
  color: $primary;
}

.addFile {
  @extend .sectionAddButton;
  &:hover {
    color: $primary-dark;
  }
}

.files {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: flex-start;
}
