@use '../../styles/variables' as *;

.directory {
  background-color: $primary;
}

.sectionStyle {
  background-color: $primary;
  margin-bottom: 48px;
}

.sectionHeader {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  color: $primary-light-3;

  & > h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
  }
}

.sectionAddButton {
  background-color: inherit;
  text-transform: uppercase;
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
    color: $white;
  }

  &:hover {
    color: $white;
  }
}

.folders {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  align-items: flex-start;
}

.files {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: flex-start;
}

.filesTitle {
  display: flex;
  align-items: center;
}

.filesHeader {
  display: flex;
}

@media screen and (max-width: 768px) {
  .filesHeader {
    flex-direction: column;
  }
}
