@use '../../../styles/variables' as *;

.btn {
  min-width: 150px;
  padding: 4px;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  font-family: "Cairo", sans-serif;
  font-size: 14px;

  &:focus {
    outline: none;
  }
}

.btn_primary {
  @extend .btn;
  background-color: $color-1;
  color: white;

  &:hover {
    background-color: $color-1-light;
  }
}

.btn_secondary {
  @extend .btn;
  background-color: white;
  border: 1px solid $color-1-lighter;
  color: $color-1;

  &:hover {
    border-color: $color-1-light;
    background-color: $color-1-lightest;
  }
}
