@use '../../styles/variables' as *;

.header {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary;
}

.appLogo {
  display: flex;
  align-items: center;
}

.icon {
  color: $white;

  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: $primary-light-1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.appName {
  color: $white;
  font-weight: bold;
  font-size: 24px;
  margin-left: 10px;
  text-shadow: 0 0 1px $white;
}
