@use '../../styles/variables' as *;

.folder {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid $primary-light-2;
  color: $primary-light-5;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: none;
    color: $white;
    border-color: $white;
  }
}

.folderIcon {
  margin-right: 10px;
}
