@use '../../../styles/variables' as *;

.searchField {
  position: relative;
}

.searchInput {
  width: 250px;
  padding: 4px 10px;
  border-radius: 5px;
  border: 1px solid $secondary-dark;
  font-family: "Cairo", sans-serif;
  color: $primary;
  font-size: 1.1rem;

  &:focus {
    outline: none;
    border-color: $primary-light;
  }
}

.searchDropdown {
  position: absolute;
  max-height: 200px;
  width: 250px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid $secondary-dark;
  border-radius: 5px;
}

.searchDropdownItem {
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $primary-light;

  &:hover {
    color: white;
    background-color: $primary-light;

    .itemIcon {
      color: white;
    }
  }
}

.itemName {
  font-size: 1.1rem;
}

.itemParentName {
  font-size: 0.8rem;
  color: $secondary-dark;
}

.itemIcon {
  margin-right: 5px;
  color: $primary-light;
}
