@use '../../../styles/variables' as *;

.searchField {
  position: relative;
  width: 250px;
}

.searchInput {
  width: 100%;
  padding: 4px 10px;
  border-radius: 15px;
  background-color: $color-1-lightest;
  border: 1px solid white;
  font-family: "Cairo", sans-serif;
  color: $color-1-dark;
  font-size: 1.1rem;
  transition: border-color 0.3s;

  &:focus {
    outline: none;
    border-color: $color-1-lighter;
  }
}

.searchDropdown {
  position: absolute;
  max-height: 200px;
  width: 250px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid $color-1-lighter;
  border-radius: 15px;
  margin-top: 5px;
}

.searchDropdownItem {
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: $color-1-light;

  &:hover {
    color: white;
    background-color: $color-1-lightest;
  }
}

.itemName {
  font-size: 1rem;
  color: $color-1-dark;
}

.itemParentName {
  font-size: 0.8rem;
  color: $color-1-light;
}

.itemIcon {
  margin-right: 5px;
  color: $color-1;
}
