@use '../../../styles/variables' as *;

.searchField {
  position: relative;
}

.searchInput {
  width: 250px;
  padding: 4px 10px;
  border-radius: 5px;
  border: 1px solid $secondary;
  font-family: "Cairo", sans-serif;
  color: $primary;
  font-size: 1.1rem;

  &:focus {
    outline: none;
    border-color: $secondary-dark;
  }
}

.searchDropdown {
  position: absolute;
  max-height: 200px;
  width: 250px;
  background-color: white;
  overflow-y: auto;
  border: 1px solid $secondary-dark;
  border-radius: 5px;
}

.searchDropdownItem {
  padding: 6px 4px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: $primary-light;

  &:hover {
    color: white;
    background-color: $primary-light;
  }
}
