@use '../../../styles/variables' as *;

.emptyUI {
  padding: 48px;
  text-align: center;
}

.line1 {
  font-size: 54px;
  text-shadow: 0 0 2px $primary;
  font-weight: bold;
  color: $white;
  margin-bottom: 5px;
}

.line2 {
  font-size: 24px;
  color: $primary-light-2;

  & > .add {
    color: $primary-light-4;
    cursor: pointer;

    &:hover {
      color: $white;
      text-decoration: underline $white;
    }
  }
}
