@use '../../../styles/variables' as *;
$folder-color: #806c51;
$video-color: #c4302b;
$article-color: #c6527a;

.item {
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px $primary;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s, color 0.3s;

  .itemHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;

    .itemType {
      text-transform: uppercase;
      font-weight: bold;
      padding-bottom: 5px;
      border-bottom: 2px solid $primary;
      width: max-content;
      transition: border-bottom-color 0.3s;

      .itemTypeIcon {
        margin-left: 8px;
        font-size: 0.9rem;
        transition: color 0.3s;
      }

      .folder {
        @extend .itemTypeIcon;
        color: $folder-color;
      }

      .video {
        @extend .itemTypeIcon;
        color: $video-color;
      }

      .article {
        @extend .itemTypeIcon;
        color: $article-color;
      }
    }

    .dateCreated {
      font-size: 0.8rem;
    }
  }

  .itemName {
    font-size: 1.4rem;
  }

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px $primary;
    background-color: $primary;
    color: white;

    .itemType {
      border-bottom-color: white;

      .itemTypeIcon {
        color: white;
      }
    }
  }

  &:focus {
    background-color: $primary-light;
  }
}
