@use '../../../styles/variables' as *;

.modalWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  padding: 20px;
  border-radius: 10px;
  background-color: $white;
}

.modalHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modalHeadingText {
  color: $auxillary-light-5;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
}

.closeBtn {
  border: none;
  font-size: 20px;
  color: $auxillary-light-5;
  background-color: white;
  cursor: pointer;
  &:hover {
    color: $auxillary-light-2;
  }
  &:focus {
    outline: none;
  }
}

.modalButtons {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
