@use '../../../styles/variables' as *;

.fileTypes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 5px;
}

.fileType {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: $primary;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: $primary-light;
  }

  &:focus {
    outline: none;
    background-color: $primary-light;
  }
}

.typeSelected {
  background-color: $primary-light-5;
}

.optionIcon {
  font-size: 24px;
  margin-bottom: 3px;
}

.typeName {
  font-size: 9px;
  user-select: none;
  text-transform: capitalize;
}

.selectAnother {
  margin: 0 auto;
  margin-bottom: 16px;
  background-color: $primary-light;
}
