@use '../../styles/variables' as *;

.searchWrapper {
  position: relative;
}

.searchField {
  border: none;
  border-left: 2px solid $primary-light-4;
  background-color: $primary;
  font-family: inherit;
  padding: 5px 16px;
  font-size: 18px;
  width: 250px;
  color: $white;
  margin: 5px 0;

  &:focus {
    outline: none;
    border-left-color: $primary-light-2;
  }
}

.searchDropdown {
  position: absolute;
  border-radius: 5px;
  border: 1px solid $primary;
  top: 56px;
  max-height: 400px;
}

.searchDropdownItem {
  width: 250px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: $primary;
  background-color: $primary-light-6;

  &:hover {
    text-decoration: none;
    background-color: $primary-light-5;
  }
}

.itemDetails {
  text-align: center;
  padding-right: 10px;
  border-right: 1px solid $primary;
  width: 40px;
}

.itemType {
  text-transform: uppercase;
  font-size: 7px;
}

.itemTypeIcon {
  font-size: 16px;
  margin-bottom: 3px;
}

.itemName {
  margin-left: 10px;
  font-weight: bold;
}

.closeBtn {
  position: absolute;
  right: 16px;
  top: 20px;
  color: $primary-light-5;
  cursor: pointer;
  font-size: 20px;

  &:hover {
    color: $primary-light;
  }
}
